*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    
}

title {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    color: #fff;
}
    
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://images6.alphacoders.com/310/310526.jpg);
    background-size: cover;
    background-position: center;
  }
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between; 
}

.logo{
    width:120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: whitesmokes;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.page title {
font-size: 70px;
margin-top: 80px;
justify-content: center;
}

.code-card {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--grey);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
      rgba(230, 226, 235, 0.3) 0%,
      rgba(31, 10, 163, 0.6) 100%
    );
    display: flex;
    align-items: center;
}